.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
}

.item p {
  margin: 5px;
}

.formInput {
  margin: 10px;
}

.todoDesk {
  width: 100%;
  display: flex;
}